*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.navbar{
    width:100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0 100px;
}
.navbar>div{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar>div>span>i{
    font-size: 3rem;
}
.navbar>div>span
{
 font-size: 1.8rem;
}

.navbar>ol{
    height: 80px;
    width: 40vw;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
}
.greyc{
    color: grey;
}
.ho:hover{
    color: rgb(12, 202, 12);
}